.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.heading img{
    margin-top:20px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.425));

}

.row > div img {
  height: 260px;
}

.wmya{

    top: 150px;
}
.wmya>div {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(100% 0, 100% 70%, 0 70%, 0 0);
}
.wmya>div:hover{  
  webkit-transform: rotate(-10deg);
  transform: scale(1.2, 1.2);
  transform: rotate(-5deg);
  clip-path: polygon(100% 10%, 120% 120%, 0 120%, 0 0);

}

.container {
  width: 90%;
}
